/*Navigation und Buttons*/

/*Menü Links auf der Linken seite und innenabstand der Klickfläche*/
nav.primary a {
    padding: 0.3rem 0.5rem;
    position: relative; /*Für das pseudo element unten*/
}

/*Underline die sichtbar wird beim darüberfahren*/
nav.primary a::after {
    content: "";
    position: absolute;
    left: 0; right: 0; bottom: -3px; /*Linie unter dem Text*/
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0); /*wird unsichtbar*/
    transition: transform 0.2s;
}
nav.primary a:hover::after {
    transform: scaleX(1); /*Linie wird beim Hovern wieder Sichtbar*/
}

/*Buttons*/
.btn {
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color: var(--color-accent);
    color: white;
    border-radius: 5px; /*leichte abrundung*/
}
.btn:hover { 
    background-color: #59d;
}

/*Aktiver Menülink*/
nav.primary a.active {
    color: var(--color-accent);
}
nav.primary a.active::after {
    transform: scaleX(1); /*So bleibt die unterschtreichung sichtbar*/
}
